<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Node Details <small></small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_title">
                    <div class="col-md-12">
                        <h3>Node ID #0101</h3>
                    </div>
                </div>
                <br/>
                <ul class="list-unstyled user_data">
                    <li>
                        <h4><i class="fa fa-map-marker user-profile-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;Shah Alam</h4>
                    </li>

                    <li>
                        <h4><i class="fa fa-wifi user-profile-icon"></i>&nbsp;&nbsp;192.168.0.100</h4>
                    </li>

                    <li>
                        <h4><i class="fa fa-clock-o user-profile-icon"></i>&nbsp;&nbsp;&nbsp;2016-10-01 03:32:44</h4>

                    </li>
                </ul>
                <br>

                <span class="label label-success label-status">Online</span>
                <br/> <br/>


            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="profile_title">
                    <div class="col-md-6">
                        <h2>Location map</h2>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>May 23, 2016 - June 21, 2016</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="map"></div>
            </div>
        </div>
    </div>
</div>
