
<div class="row">
	<div class="col-md-6">
		<div class="broadway" src="/data/test.h264" workers="false" render="true" webgl="auto">
			
		</div>
	</div>
	<div class="col-md-6">
		 <!-- the player -->
   <div class="flowplayer" data-swf="/public/vendors/flowplayer/flowplayer.swf" data-ratio="0.4167">
      <video>        
         <source type="video/mp4" src="/data/test.h264">
         <source type="video/ogg" src="/data/test.h264">
         <source type="video/avc" src="/data/test.h264">
         <source type="video/h264" src="/data/test.h264">
      </video>
   </div>
   </div>		
	</div>
</div>
 

  
